[build]
  command = "bundle exec jekyll build --trace"
  publish = "_site"

[build.processing]
  pretty_urls = true
[build.processing.css]
  bundle = true
  minify = true
[build.processing.js]
  bundle = true
  minify = true
[build.processing.images]
  compress = true

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-Content-Type-Options = "nosniff"
    Cache-Control = "no-store, no-cache, must-revalidate, max-age=0, private"
    Surrogate-Control = "no-store"
    Pragma = "no-cache"
    Expires = "0"
    X-Robots-Tag = "noindex, nofollow"
    Clear-Site-Data = "\"cache\", \"cookies\", \"storage\""